
#VS Code
.vs/
.vscode/

#doc temp files
*.synctex.gz
doc/src/*.pdf
doc/src/*.log
doc/src/*.asy
doc/src/*.aux
doc/src/*.fdb
doc/src/*.fdb_latexmk
doc/src/*.fls
doc/src/*.pre

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Mac desktop service store files
.DS_Store

# Object files
*.slo
*.lo
*.o
*.out
*.ko
*.obj
*.elf
*.exe

# Libraries
*.lib
*.a
*.la
*.lai
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex


# QtCreator
*.autosave
*.config
*.creator
*.creator.user
piccante.files
piccante.includes
*.opendb
*.iobj
*.ipdb
*.db
src/inputPiccante.json


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/
src/sobol.*
